* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 20px 100px;
  color: white;
}

.logo {
  width: 50px;
  height: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: center;
  font-size: 14px;
  margin: 0px;
}

.nav {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: space-evenly;
  justify-content: space-between;
  font-size: 20px;
}
.nav a {
  color: white;
}

a {
  text-decoration: none;
  color: rgb(241, 230, 230);
}

.main {
  display: flex;
  background-color: #1f2937;
  justify-self: space-between;
  color: white;
  padding: 100px;
}

.main h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
}
.main p {
  font-size: 25px;
  margin: 20px 0px;
}
.main button {
  background-color: #2194e7;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.skills {
  padding: 150px;
  text-align: center;
}

.skills h2 {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}
.item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  color: #000000;
}

.box p {
  font-family: lucida console;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: center;
  margin: 10px;
}

.image-box {
  border-radius: 50px;
  height: 300px;
  width: 300px;
  border: none;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
}
.hero {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f2937;
}
.hero h1 {
  max-width: 800px;
}
